@font-face {
    font-family: 'Silom-Bold';
    src:url('../fonts/Silom-Bold.ttf.woff') format('woff'),
        url('../fonts/Silom-Bold.ttf.svg#Silom-Bold') format('svg'),
        url('../fonts/Silom-Bold.ttf.eot'),
        url('../fonts/Silom-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Silom-Bold';
    background: url('../img/3997687.jpg');
    width: 100%;
    height: 100%;
}

#mycanvas {
    position:absolute;
    z-index: 1;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.start-screen {
    position: absolute;
    z-index: 2;
    width: 100vw;
    text-transform: uppercase;
    text-align: center;
    color:lightcyan;
    text-shadow: black 2px 2px 10px;
}

.start-screen__title {
    font-size: 64px;
    margin-top: 100px;
    
}
.start-screen__subtitle {
    font-size: 32px;
}

.start-screen__button {
    font-size: 150px;
    margin-top: 150px;
    transition: all 0.5s;
    cursor: pointer;
}

.start-screen__button:hover {
    color:brown;
}

.start-screen__dscr {
    font-size: 20px;
}

.start-screen_disabled {
    display: none;
}
